.imageContainer {
  width: 100px;
  height: 150px;
  border: 5px solid #868686;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hideCard {
  background: black;
  width: 100%;
  height:100%

}

